<center><h2>よくある質問</h2></center>
<strong><font color="black">Q1.無料ですか?</font></strong><br>
<font>A.無料です<br></font>
<br>
<strong><font color="black">Q2.登録は必要ですか?</font></strong><br>
<font>A.登録は必要ありません<br></font>
<br>

