<center><h2><strong>リンクページ</strong></h2></center>
<p>ログインが必要なサイトでは，そのサイトでログインしてからU-CHATをお使いください</p>
<p>
<font>検索をしながらチャットをする</font>
<li><a href="http://google.com">Google</a>
<li><a href="http://jp.msn.com">MSN japan</a>
</p>
<p>
<font>翻訳をしながらチャットをする</font><br>
<li><a href="http://www.excite.co.jp/world">エキサイト 翻訳</a>
<li><a href="http://honyaku.yahoo.co.jp">Yahoo!翻訳</a>
<li><a href="http://translate.google.co.jp/translate_t#">Google 翻訳</a>
</p>
<p>
<font>ショッピングをしながらチャットをする</font><br>
<li><a href="http://www.amazon.co.jp">Amazon</a>
<li><a href="http://shopping.yahoo.co.jp">Yahoo!ショッピング</a>
<li><a href="http://auctions.yahoo.co.jp/jp/">Yahoo!オークション</a>
</p>
<p>
<font>ブログを見ながらチャットをする</font><br>
<li><a href="http://blogs.yahoo.co.jp">Yahoo!ブログ</a>
<li><a href="http://ameblo.jp">アメーバブログ</a>
</p>
<p>
<font>今日の晩御飯を考えながらチャットをする</font><br>
<li><a href="http://cookpad.com/">クックパッド</a>
</p>
<font>ネット小説を読みながらチャットをする</font><br>
<li><a href="http://www.honnavi.com">HONなび</a>
<li><a href="http://nnr.netnovel.org">ネット小説ランキング</a
</p>
<p>
<font>動画を見ながらチャットをする</font><br>
<li><a href="http://jp.youtube.com/">YouTube</a>
</p>
<p>

