<p>kadai</p>
<ul>
<li>nihongo ka -> jvim,emacs
<li>layer no zure(safari,google)
<li>moji no kieru junbann
<li>chat no list
<li>one more kufuu
<li>dezine
<li>top page
<li>login -> openID?
<li>production mode
<li>kojin goto no database
<li>guest ha hozonsinai

<li>addres copy
<li>
</ul>

